<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="style.css" />
        {{ head|safe }}
        <title>{{ title }}</title>
    </head>
    <body>
        {{ content|safe }}
        {{ footer|safe }}
    </body>
</html>
